<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Проект</title>
		<link rel="shortcut icon" href="{{url_for('static', filename='../favicon.ico')}}"> 
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
       	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' />
		<!--<script type="text/javascript" src="js/modernizr.custom.79639.js"></script> 
		<noscript><link rel="stylesheet" type="text/css" href="css/noJS.css" /></noscript>-->
    </head>
    <body>
        <div class="container">
				<header>
			
				<h1>Ручное управление</h1>
				
				<nav class="codrops-demos">
					<a href="/index">Полив</a>
					<a class="current-demo" href="/index2">Освещение</a>
					<a href="/index3">Вентиляция</a>
					<a href="/index4">Музыка</a>
				</nav>
				
			</header>
			
			<!-- начало формы -->
			 <form action="" method="post" >
		
				<div id="aaa">
					
						
<select id="lighting" class="wrapper-dropdown-3">
  <option selected>Время для освещения</option>
  <option value="300">5 минут</option>
  <option value="600">10 минут</option>
  <option value="900">15 минут</option>
</select>
<button type="submit" onclick="GetData()">Отправить</button> 

					
				​</div>
			</form>
			<a id="set" href="settings.html">Настройки</a>
			<footer> <a href="/main">На главную &#8594 </a></footer>
		</div>
		
		<!-- конец формы -->
		
		<script type="text/javascript">
			
				function GetData()
	  {
		 // получаем индекс выбранного элемента
	
	   var selind = document.getElementById("lighting").options.selectedIndex;
	   var val= document.getElementById("lighting").options[selind].value;
			
			if (selind!=0){
				
				var lighting = new XMLHttpRequest();
				lighting.open("POST","/start_lighting", false);
				lighting.setRequestHeader('Content-Type', 'application/json');
				
				var event = {
				  delay: val
				  
				};
				
				var data = JSON.stringify(event);
				//alert(data);
				lighting.send(data);
				
				
			} 
	  }
			
		</script>

    </body>
</html>