<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Проект</title>
        <link rel="shortcut icon" href="{{url_for('static', filename='../favicon.ico')}}"> 
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' />
</head>
<body>
<div class="container">

<header>
 
<h1>Ручное управление</h1>

<nav class="codrops-demos">
<a href="/index">Полив</a>
<a href="/index2">Освещение</a>
<a href="/index3">Вентиляция</a>
<a class="current-demo" href="/index4">Музыка</a>
</nav>

</header>


<!— начало формы —>
<form action="" method="post" >

<div id="aaa">


<select id="music" class="wrapper-dropdown-3">

<option selected value="true">Включить</option>
<option value="false">Выключить</option>
</select>
<button type="submit" onclick="GetData()">Применить</button> 


​</div>
</form>
 <a id="set" href="settings.html">Настройки</a>
<footer> <a href="/main">На главную &#8594 </a></footer>
</div>

<!— конец формы —>



<script type="text/javascript">

function GetData()
{
// получаем индекс выбранного элемента

var selind = document.getElementById("music").options.selectedIndex;
var val= document.getElementById("music").options[selind].value;

var music = new XMLHttpRequest();
music.open("POST","/play", false);
music.setRequestHeader('Content-Type', 'application/json');

var event = {
play: val
};

var data = JSON.stringify(event);
//alert(data);
music.send(data);



}
function SelectDefault() //функция определяет, играет музыка или нет (а сервер может нам отдавать "play": "false" ? или только принимает?
  {
    var playing = new XMLHttpRequest();
	playing.open("GET","/status", false);
	playing.send(null);
	//responseText = '{"play": "false"}';
			
	var data = JSON.parse(playing.responseText);
	//var data = JSON.parse(responseText);
	
	if ((data["playing"]) != "false"){
		
		document.getElementById("music").options[0].selected=true;
	}else{
		document.getElementById("music").options[1].selected=true;
		
	}

  }
  
  SelectDefault();//закоментить, если не будет работать

</script>
</body>
</html>