<!DOCTYPE html>
<html>
 <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='stylesheet.css')}}"/>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
        <title>Проект</title>
       <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	   
    </head>
	<body>
	<header>
	<h3><div id="temp">Температура:  </div></h3>
	<h3><div id="light">Освещённость:  </div></h3>
	<h3><div id="dust">Запылённость:  </div></h3>
	<h3><div id="yellow">Форточки открыты:  </div></h3>
	<h3><div id="blue">Полив включен:  </div></h3>
	<h3><div id="red">Искусственное освещение включено:  </div></h3>
	<h3><div id="playing">Музыка включена:  </div></h3>
	</header>
	<a id="set" href="settings.html">Настройки</a>
	<footer> <a id="linkfooter" href="/index">Ручное управление &#8594 </a></footer>  
	<script type="text/javascript">
		
		var temperature = new XMLHttpRequest();
		temperature.open("GET", "/temp", false);
		temperature.send(null);
		//responseText = '{"test" : "test", "int": 10, "temp": 19}'
		var data = JSON.parse(temperature.responseText);
		document.getElementById("temp").innerHTML += data["temperature"];
		//alert(temperature.responseText);
		
		var light = new XMLHttpRequest();
		light.open("GET", "/light", false);
		light.send(null);
		var data = JSON.parse(light.responseText);
		document.getElementById("light").innerHTML += data["light"];
		//alert(light.responseText); 
		
		var dust = new XMLHttpRequest();
		dust.open("GET", "/dust", false);
		dust.send(null);
		var data = JSON.parse(dust.responseText);
		document.getElementById("dust").innerHTML += data["dust"];
		//alert(dust.responseText);
		
		var stat = new XMLHttpRequest();
		stat.open("GET", "/status", false);
		stat.send(null);
		//responseText = '{"yellow" : 0, "red": 0, "blue": 0, "playing": true}'
		var data = JSON.parse(stat.responseText);
		
		if (data["yellow"]!=0) {
			document.getElementById("yellow").innerHTML += "да";
		} else {
			document.getElementById("yellow").innerHTML += "нет";
		}
		
		if (data["blue"]!=0) {
			document.getElementById("blue").innerHTML += "да";
		} else {
			document.getElementById("blue").innerHTML += "нет";
		}
		
		if (data["red"]!=0) {
			document.getElementById("red").innerHTML += "да";
		} else {
			document.getElementById("red").innerHTML += "нет";
		}
		
		if (data["playing"]!=false) {
			document.getElementById("playing").innerHTML += "да";
		} else {
			document.getElementById("playing").innerHTML += "нет";
		}
		
		
		 
	
		
		
	</script>
	
	</body>
</html>
