<!DOCTYPE html>
<html>
 <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='style_settings.css')}}"/>
		<link type="text/css" rel="stylesheet" href="style_settings.css"/>
        <title>Проект</title>
       <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	   <!--<script src="ajax.js"></script>-->
    </head>
	<body>
	<header>
	<form id="for_set" action="" method="post" >
	<h3> Частота Twitter-оповещений </h3>
	<select  class="wrapper-dropdown-3" id="twitter_delay"><option value="300">5 минут</option>
		<option value="600">10 минут</option>
		<option value="900">15 минут</option>
		<option value="1200">20 минут</option>
		<option value="1500">25 минут</option>
		<option value="1800">30 минут</option>
		<option value="2100">35 минут</option>
		<option value="2400">40 минут</option>
		<option value="2700">45 минут</option>
		<option value="3000">50 минут</option>
		<option value="3300">55 минут</option>
		<option value="3600">60 минут</option>
	</select>
	<h3>Минимальная температура (закрыть форточку)  </h3>
	<select id="min_temp" class="wrapper-dropdown-3">
		<option value="12">+12C</option>
		<option value="13">+13C</option>
		<option value="14">+14C</option>
		<option value="15">+15C</option>
		<option value="16">+16C</option>
		<option value="17">+17C</option>
		<option value="18">+18C</option>
		<option value="19">+19C</option>
		<option value="20">+20C</option>
		<option value="21">+21C</option>
		<option value="22">+22C</option>
		<option value="23">+23C</option>
		<option value="24">+24C</option>
		<option value="25">+25C</option>
		<option value="26">+26C</option>
		<option value="27">+27C</option>
		<option value="28">+28C</option>
		<option value="29">+29C</option>
		<option value="30">+30C</option>
		<option value="31">+31C</option>
		<option value="32">+32C</option>
		<option value="33">+33C</option>
		<option value="34">+34C</option>
		<option value="35">+35C</option>
	
   </select>
	<h3>Максимальная температура (открыть форточку)</h3>
	<select id="max_temp" class="wrapper-dropdown-3">
		<option value="12">+12C</option>
		<option value="13">+13C</option>
		<option value="14">+14C</option>
		<option value="15">+15C</option>
		<option value="16">+16C</option>
		<option value="17">+17C</option>
		<option value="18">+18C</option>
		<option value="19">+19C</option>
		<option value="20">+20C</option>
		<option value="21">+21C</option>
		<option value="22">+22C</option>
		<option value="23">+23C</option>
		<option value="24">+24C</option>
		<option value="25">+25C</option>
		<option value="26">+26C</option>
		<option value="27">+27C</option>
		<option value="28">+28C</option>
		<option value="29">+29C</option>
		<option value="30">+30C</option>
		<option value="31">+31C</option>
		<option value="32">+32C</option>
		<option value="33">+33C</option>
		<option value="34">+34C</option>
		<option value="35">+35C</option>
	</select>
	<h3>Включить полив при запыленности </h3>
	<select id="crit_concentartion" class="wrapper-dropdown-3">
		<option value="200">200мг/л</option>
		<option value="300">300мг/л</option>
		<option value="400">400мг/л</option>
		<option value="500">500мг/л</option>
		<option value="600">600мг/л</option>
		<option value="700">700мг/л</option>
		<option value="800">800мг/л</option>
		<option value="900">900мг/л</option>
		<option value="1000">1000мг/л</option>
		<option value="1100">1100мг/л</option>
		<option value="1200">1200мг/л</option>
		<option value="1300">1300мг/л</option>
		<option value="1400">1400мг/л</option>
		<option value="1500">1500мг/л</option>
		<option value="1600">1600мг/л</option>
		<option value="1700">1700мг/л</option>
		<option value="1800">1800мг/л</option>
	</select>
	<h3> Продолжительность автополива </h3>
	<select class="wrapper-dropdown-3" id="watering_duration"><option value="300">5 минут</option>
		<option value="600">10 минут</option>
		<option value="900">15 минут</option>
		<option value="1200">20 минут</option>
		<option value="1500">25 минут</option>
		<option value="1800">30 минут</option>
		<option value="2100">35 минут</option>
		<option value="2400">40 минут</option>
		<option value="2700">45 минут</option>
		<option value="3000">50 минут</option>
		<option value="3300">55 минут</option>
		<option value="3600">60 минут</option>
	</select>
		<h3>Включать свет при освещённости  </h3>
	<select class="wrapper-dropdown-3" id="min_lumen"><option value="0">0</option>
		<option value="10">10</option>
		<option value="20">20</option>
		<option value="30">30</option>
		<option value="40">40</option>
		<option value="50">50</option>
		<option value="60">60</option>
		
	</select>
		<h3>Выключать свет при освещённости  </h3>
	<select class="wrapper-dropdown-3" id="max_lumen"><option value="0">0</option>
		<option value="10">10</option>
		<option value="20">20</option>
		<option value="30">30</option>
		<option value="40">40</option>
		<option value="50">50</option>
		<option value="60">60</option>
		
	</select>
	
	<h3>Начало светового дня  </h3>
	<select class="wrapper-dropdown-3" id="daystart"><option value="0">00:00</option>
		<option value="1">01:00</option>
		<option value="2">02:00</option>
		<option value="3">03:00</option>
		<option value="4">04:00</option>
		<option value="5">05:00</option>
		<option value="6">06:00</option>
		<option value="7">07:00</option>
		<option value="8">08:00</option>
		<option value="9">09:00</option>
		<option value="10">10:00</option>
		<option value="11">11:00</option>
		<option value="12">12:00</option>
		<option value="13">13:00</option>
		<option value="14">14:00</option>
		<option value="15">15:00</option>
		<option value="16">16:00</option>
		<option value="17">17:00</option>
		<option value="18">18:00</option>
		<option value="19">19:00</option>
		<option value="20">20:00</option>
		<option value="21">21:00</option>
		<option value="22">22:00</option>
		<option value="23">23:00</option>
	</select>
	<h3>Конец светового дня  </h3>
	<select class="wrapper-dropdown-3" id="dayend"><option value="0">00:00</option>
		<option value="1">01:00</option>
		<option value="2">02:00</option>
		<option value="3">03:00</option>
		<option value="4">04:00</option>
		<option value="5">05:00</option>
		<option value="6">06:00</option>
		<option value="7">07:00</option>
		<option value="8">08:00</option>
		<option value="9">09:00</option>
		<option value="10">10:00</option>
		<option value="11">11:00</option>
		<option value="12">12:00</option>
		<option value="13">13:00</option>
		<option value="14">14:00</option>
		<option value="15">15:00</option>
		<option value="16">16:00</option>
		<option value="17">17:00</option>
		<option value="18">18:00</option>
		<option value="19">19:00</option>
		<option value="20">20:00</option>
		<option value="21">21:00</option>
		<option value="22">22:00</option>
		<option value="23">23:00</option>
		
		
	</select>
	<h3> <button type="submit" onclick="GetData()">Сохранить</button> </h3>

					
			
			</form>
		
	</header>
	<a id="set" href="/index">Ручное управление</a>
<footer> <a id="linkfooter" href="/main">На главную &#8594 </a></footer>
	<script type="text/javascript">

	function GetData() //отправляет выбранные поля на сервер
	{
	// получаем индекс выбранного элемента

		var arr=["crit_concentartion","max_temp","min_temp","watering_duration", "twitter_delay", "max_lumen", "min_lumen", "daystart", "dayend"];
		var val = new Array();
		
				
		for (var i=0;i<arr.length;i++){
			
			var selind = document.getElementById(arr[i]).options.selectedIndex;
			// получаем индекс выбранного элемента
			val[i]= document.getElementById(arr[i]).options[selind].value;
			
		}
		
		//alert(val);
		
		

		var set_settings = new XMLHttpRequest();
		set_settings.open("POST","/set_settings", false);
		set_settings.setRequestHeader('Content-Type', 'application/json');

		var event = {
			twitter_delay: val[4],
			crit_concentartion: val[0],
			dayend : val[8]+":00",
			daystart: val[7]+":00",
			max_lumen: val[5],
			max_temp: val[1],
			min_lumen: val[6],
			min_temp: val[2],
			watering_duration: val[3]
		};

		var data = JSON.stringify(event); //перевод в json
		//alert(data);
		set_settings.send(data);

	}
	
	function SelectDefault() // функция устанавливает значения, приходящие с сервера

  {
    var settings = new XMLHttpRequest();
	settings.open("GET","/get_settings", false);
	settings.send(null);
	//responseText = '{"crit_concentartion": 1200, "max_temp": 25, "min_temp": 13, "watering_duration": 1200, "twitter_delay" : 900, "max_lumen" : 40, "min_lumen" : 10, "daystart" : "09:00", "dayend": "19:00"}'            
			
	var data = JSON.parse(settings.responseText);
	
	//убираем у 08:00 нули
	data["daystart"]= parseInt(data["daystart"]);
	data["dayend"]= parseInt(data["dayend"]);
	
	var arr=["crit_concentartion","max_temp","min_temp","watering_duration", "twitter_delay", "max_lumen", "min_lumen", "daystart", "dayend"]; 
	var val = new Array();
		
				
		for (var i=0;i<arr.length;i++){
			
			var t1 = arr[i]; //id
			var t2 = data[t1]; //value
			var t3 = -1; // находим value по options
			//alert (t2);
			
			var l = document.getElementById(t1).length;
			
			for (var j=0;j<l;j++){
				if (document.getElementById(t1).options[j].value==t2){ // находим value по options
					t3=j;
					break;
				}
				
			}
			
			if (t3==-1){ // если переданных данных нет в списке, устанавливаем первое значение из него
				t3=0;
			}
			
			document.getElementById(t1).options[t3].selected=true; //установка значения
			
			
			
		}
   

  }
  
  SelectDefault(); // функция устанавливает значения, приходящие с сервера

	</script>
	
	</body>
</html>