@charset "utf-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
    font-size: 100%;                     /* размер шрифта всем одинаковый */
} 
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}			/* возвращаем привычное вертикальное выравнивание */
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}

html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #000;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #e6618c;
	text-decoration: underline;
}
a:hover {
	color: #fdf208;
	text-decoration:none;
}
a:focus, a:active {
	color: #c83867;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/*ФОНОВОЕ ИЗОБРАЖЕНИЕ*/
html{
background:url(/static/7.jpg) center center no-repeat fixed; 
background:url(7.jpg) center center no-repeat fixed; 
background-size:cover;
}
/*СТАРТОВАЯ СТРАНИЦА */
header>h3{
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif; 
	font-size: 1.25em; 
	text-align:center; 
	color:   #AAA;
	top:150px;
	margin: 30px;
	position:relative;
}




/** {
  transition: background .1s;
}*/

#linkfooter {
font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif; 
	font-size: 1.25em; 
	text-align:right; 
	position: absolute; 
	right: 50px; 
	top: 50px;
	padding: 6px 20px;
	text-decoration: none;
	color: #AAA; 
 
}


#set {
font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif; 
	font-size: 1.25em; 
	text-align:left;
	position: absolute; 
	top: 50px;
	padding: 6px 60px;
	text-decoration: none;
	color: #aaa;
}
footer>a{
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif; 
	font-size: 1.25em; 
	text-align:right; 
	position: absolute; 
	right: 50px; 
	top: 50px;
	padding: 6px 20px;
	text-decoration: none;
}
	A: {color:   #EDE1C7; 
}
	A:visited {color: #AAA; 
}


button {
	background: #fff; 
	border-radius: 5px; 
	box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    color: #000;
	border:0; 
	font-size: 1.25em;
	padding: 12px 35px;
	cursor: pointer;
}
	
	/*Наведение на кнопку*/
button:hover {
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}

/*Нажатие на кнопку*/
button:active {
    box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}
   

@media screen and (max-width: 1100px) {
	.block input[type="connection"] {
		width: 280px;}
		
	A: {color:   rgba(0,0,0,0.45); 
}
	A:visited {color: #230F0F; 
}
	
}
	
	@media screen and (max-width: 1080px) {
	.block input[type="connection"] {
		width: 340px; display: block; float: none; margin-right: 0; margin-bottom: 10px; 
	}
	header>h1{ 
	font-size: 2.25em;
	margin-bottom: 20px;
	text-align:center;
	position: relative;
    }
}