html{
background:url(/static/6.jpg) center center no-repeat fixed; 
background:url(6.jpg) center center no-repeat fixed; 
background-size:cover;
}

#for_set {
font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif; 
	font-size: 1em; 
	text-align:center; 
	color:   #AAA;
	top:50px;
	margin: 5px;
	position:relative;

}

h3 {
padding: 5px 20px;
}

button {
	background: #fff; 
	border-radius: 5px; 
	box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    color: #000;
	border:0; 
	font-size: 1em;
	padding: 7px;
	cursor: pointer;
	position: relative;
	width: 250px;
}
	
	/*Наведение на кнопку*/
button:hover {
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}

/*Нажатие на кнопку*/
button:active {
    box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}
   
   
   .wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: normal;
    color: #aaa;
}
#set {
font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif; 
	font-size: 1.25em; 
	text-align:left;
	position: absolute; 
	top: 50px;
	padding: 6px 60px;
	text-decoration: none;
	color: #AAA;
}


#linkfooter {
font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif; 
	font-size: 1.25em; 
	text-align:right; 
	position: absolute; 
	right: 50px; 
	top: 50px;
	padding: 6px 20px;
	text-decoration: none;
	color: #AAA; 
 
}
